

.App-wrapper { 
  display: grid;
 
 grid-template-areas:
"header header header"
"nav content side";
 grid-template-rows: 40px 1fr;
  grid-template-columns: 2fr 10fr 2fr; 
}
.Header {
  grid-area: header;
  background-color: rgb(66, 66, 139);
}
.Navigation {
  grid-area: nav;
  background-color: rgb(62, 31, 65);
}
.Sidebar {
  grid-area: side;
  background-color: rgb(100, 8, 8);
}
.Content {
  grid-area: content;
  background-color: rgb(34, 109, 68);
}